.App {
  text-align: center;
}

.navbar {
  padding: 10px 40px;
}
.tab--hidden {
  display: none;
}

.switcher {
  font-size: 1.5rem;
  border: 0;
  margin: 0 10px;
  background-color: #ff91bc;
  border-radius: 30px;
  color: white;
  width: 55px;
  height: 55px;
}

.switcher:hover,
.switcher--selected {
  background-color: #ff6fa7;
}

.json-tab {
  padding: 0 40px;
}

.json--text-area {
  background: #3c3138;
  min-height: 50vh;
  color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.valid-checker {
  text-align: right;
  color: #ff7373;
}

.valid-checker--valid {
  color: #7eaa7e;
}

* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  color: #ff91bc;
  font-size: 1.5rem;
}

.json-button-export {
  font-size: 1.5rem;
  font-size: 1.5rem;
  color: #ff91bc;

  border: none;
  background: none;
}

.json-button-export:hover {
  color: #ff6fa7;
}

.json-top-bar {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.export-wrapper {
  color: #ff91bc;
}

.reset {
  position: absolute;
  right: 40px;
  top: 10px;
  background: none;
  border: none;
  color: #ff91bc;
  padding: 8px 7px 7px 7px;
  background-color: #ffe5ef;
  border-radius: 26px;
}

.reset:hover {
  background-color: #ff6fa7;
  color: white;
}
